
body {
    font-family: Georgia, "Times New Roman", serif;
    background-color: white;
    color: black;
    margin: 0;
  }
  
  img {
    display: block;
    height: auto;
    width: 100%;
    margin: 20px 0;
  }

  .container {
    max-width: 700px;
    margin: 40px auto;
    padding: 20px;
  }
  
  
  p {
    margin: 20px 0;
    line-height: 1.5;
  }
  
  .emphasis {
    color: red;
    font-weight: bold;
  }
  
  .underline {
    text-decoration: underline;
  }
  
  .highlight {
    background-color: orange;
  }
  
  .back-link {
    text-align: center;
  }
  
