body {
  font-family: Georgia, "Times New Roman", serif;
  background-color: white;
  color: black;
  margin: 40px;
}

img {
  display: block;
  max-width: 320px;
  width: 100%;
  margin: 20px auto;
}

p {
  max-width: 700px;
  margin: 20px auto;
  line-height: 1.6;
}

.emphasis {
  color: red;
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}

.highlight {
  background-color: orange;
}

.back-link {
  text-align: center;
}
